# Sistema de enrrutamiento
<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1  [L,QSA]
</IfModule>
## Sistema de cache para que la web valla mas rapida
#<FilesMatch "\.(js|css|ico|pdf|flv|jpg|jpeg|png|gif|swf|mp3|mp4)$">
#    Header set Cache-Control "public"
#    Header set Expires "Thu, 15 Apr 2020 20:00:00 GMT"
#</FilesMatch>
#<FilesMatch "\.(html|htm|php|phtml)$">
#Header set Cache-Control "max-age=604800, public, must-revalidate"
#</FilesMatch>
## Sistema de comprimimdo para q la web valla mas rapida
#<FilesMatch "\.(js|css|ico|pdf|jpg|jpeg|png|gif|php)$">
#    SetOutputFilter DEFLATE
#</FilesMatch>
## Desactivar el Last-Modified:
#<FilesMatch "\.(js|css|ico|pdf|flv|jpg|jpeg|png|gif|swf|mp3|mp4)$">
#Header unset Last-Modified
#</FilesMatch>
